div(class=['section'])
  .row
    div(class=['small-12', 'medium-12', 'medium-centered', 'text-center', 'column', 'subsection'])
      h3.light Notre devise
      h2.light Résoudre des problèmes business graçe aux applications mobiles
  .row
    div(class=['small-12', 'medium-12', 'column', 'subsection'])
      p Nous aidons nos clients à resoudre leurs problèmes graçe aux plusieurs utils:
      ul
        li la méthodologie Lean et Lean Startup
        li la méthodologie de travail Scrum
        li les téchnologies modernes et efficaces : Ionic, Angular.js, Phonegap, Node.js, Gulp
