div(class=['section', 'text-center'])
  .row
    div(class=['small-12', 'medium-12', 'medium-centered', 'column', 'subsection'])
      h2.light Développez une application opérationnelle sur tous les appareils mobiles
  .row
    div(class=['small-12', 'medium-4', 'column'])
      img.system-icon(src='assets/images/icons/ios.png')
    div(class=['small-12', 'medium-4', 'column'])
      img.system-icon(src='assets/images/icons/android.png')
    div(class=['small-12', 'medium-4', 'column'])
      img.system-icon(src='assets/images/icons/other.svg', height="242", width="167")

.section

  .row.subsection
    div(class=['small-12', 'column'])
      h3 Développement multiplateforme
    div(class=['small-7', 'large-6', 'columns', 'small-push-5', 'large-reset-order'])
      p
        | Nous maitrisons la méthode et les technologies qui permettent de s'affranchir des contraintes des terminaux mobiles pour fournir aux utilisateurs des applications accessibles depuis tous les appareils.
    div(class=['small-5', 'large-6', 'columns', 'small-pull-7', 'large-reset-order'])
      img(src="assets/images/devices.svg")

  .row.subsection
    div(class=['small-12', 'column'])
      h3 Méthodologie Scrum
    div(class=['small-5', 'large-6', 'columns', 'text-center'])
      img(src="assets/images/scrum.png", width="230")
    div(class=['small-7', 'large-6', 'columns'])
      p
        | Nous vous incluons dans une équipe BAM dédiée. Nous priorisons et évaluons ensemble les fonctionnalités clés et vous validez la progression des développements jour après jour. Dès le premier jour des résultats mesurables apparaissent.

  .row
    div(class=['small-12', 'column'])
      h3 Priorisation business
    div(class=['small-7', 'large-6', 'columns', 'small-push-5', 'large-reset-order'])
      p
        | Nous identifions avec vous les indicateurs de succès du projet. Les développements sont priorisés pour produire une version de l'application qui permette de collecter le maximum d'enseignements auprès de vos utilisateurs. 
    div(class=['small-5', 'large-6', 'columns', 'small-pull-7', 'large-reset-order', 'text-center'])
      img(src="assets/images/compass.svg", title="L'étoile du nord", alt="Boussole", width="230")
