div(ng-include="app/nav/navbar.html")

div#intro(class="has-bg")
  .row
    div(class=['small-12', 'large-6', 'columns'])
      h1
        img(src="assets/images/logo.svg", title="bam", alt="bam", width="250")
      h2 Think business, not device
      hr.white-divider
      h3 Nous produisons des applications mobiles multiplateformes
    div(class=['small-12', 'large-6', 'columns'])
      h2 Contactez-nous !
      form.contact-form(ng-submit="sendContactForm()")
        fieldset
          .row
            .row
              div(class=['large-6', 'columns'])
                input(id="first-name", class=["radius"], ng-model="formData.first_name", type="text", placeholder="Prénom")
              div(class=['large-6', 'columns'])
                input(id="last-name", class=["radius"], ng-model="formData.last_name" type="text", placeholder="Nom")
            .row
              .column
                input(id="email", class=["radius"], type="email", ng-model="formData.email", placeholder="Email")
            .row
              .column
                input(id="phone", class=["radius"], type="tel", ng-model="formData.phone", placeholder="No. tél")
            .row
              .column
                button(type="submit", class=["button", "radius", "form-button"]) Envoyer

div#multiplatform(class=['row', 'section'])
  div(class=['small-12', 'large-6', 'columns'])
    h3 Nous produisons des applications mobiles multiplateformes
    p
      | La fragmentation des plateformes mobiles a redéfini la manière de développer des applications. Une nouvelle question se pose aux entreprises désireuses de maximiser l’impact de leurs applications : comment fournir rapidement aux utilisateurs des applications opérationnelles sur tous leurs appareils mobiles ? 
    p
      | Nous maitrisons la méthode et les technologies qui permettent de s'affranchir des contraintes des terminaux mobiles pour fournir aux utilisateurs des applis accessibles depuis tous les appareils.
  div(class=['large-6', 'columns', 'show-for-large-up'])
    img(src="assets/images/devices.svg")


div#about-us(class=['row', 'section'])
  .section-intro
    h2 Contactez-nous
    p Pour nous contacter envoyez-nous un mail à <a href="mailto:contact@bamlab.fr">contact@bamlab.fr</a>

  div(class=['small-12', 'large-5', 'columns'])
    h3 
      img.circular(src="assets/images/us/baptistem.jpg")
      | Baptiste
      | Michel
    p 
      | Diplomé de Rouen Business School et de Centrale Paris, Baptiste rejoint Theodo en 2013 en tant que business développeur et coach Agile. Il y développe son expertise Lean du développement de projets web à forte valeur ajoutée. 

    p
      | Certifié Scrum Master, Baptiste a accompagné de nombreux clients, PME et grands comptes, vers l'adoption de l'agilité et la réussite de leurs projets.

    p
      | Chez BAM il occupe le poste de Directeur Commercial et intervient en coach Lean sur les projets mobiles. 
  div(class=['small-12', 'large-5', 'large-offset-2', 'columns'])
    h3
      img.circular(src="assets/images/us/marekk.jpg")
      | Marek
      | Kalnik
    p
      | Diplomé de l'Université de Wroclaw (Pologne), Marek est fort d'une experience de 10 ans dans le 
      | développement d'applications web et mobiles. Il rejoint Theodo en 2010, où il occupe le poste
      | d'architecte-manager. En tant que responsable des pôles JavaScript et Symfony2 il participe
      | à la réalisation des projets en développement Agile.
    p
      | Certifié PHP Zend et Symfony2, Marek intervient régulierement à des conférences,
      | et publie des articles où il partage son expertise.
    p
      | Chez BAM il occupe le poste de Directeur Technique et est garant des choix techniques
      | les mieux adaptés aux besoins business du client.

div(class=['section', 'row'])

div#footer(class=['row-wide', 'row'])
  div(class=['small-12', 'large-2', 'column'])
    p &copy; BAM 2014
