div.row
  div(class=['large-12', 'large-text-container', 'columns'])
    h1 hello Marek
    //
      <div class="row">
        <div class="large-12 large-text-center columns">
          <div class="panel">
            <h1>Oobaya</h1>
            <h2>Think business, not device</h2>
          </div>
        </div>
        <div class="large-12 large-text-center columns">
          <div class="panel">
          </div>
        </div>
      </div>
