div(ng-include="app/nav/navbar.html")

div#intro(class=['row', 'full-width'], oob-full-height)
  div(class=['small-9', 'columns', 'text-center', 'small-centered'])
    h1
      img(src="assets/images/logo.svg", title="bam", alt="bam")
    h2 Think business, not device

div#multiplatform(class='row', oob-full-height)
  div(class=['small-12', 'large-text-container', 'columns', 'section'])
    h2 Multiplatform mobile developement
    p
      | We write aplications that are executable on multiple platforms.
      | The common code base allows us to adapt fast and gives the users the liberty
      | to choose what device they want to use.

    p
      | Don't let the device choice limit you. Think business, not device.
