div(ng-include="app/nav/navbar.html")

div#intro(class=['row', 'row-wide'], oob-full-height)
  div(class=['small-10', 'columns', 'text-center', 'small-centered'])
    h1
      img(src="assets/images/logo.svg", title="bam", alt="bam")
    h2 Think business, not device

div#multiplatform(class=['row', 'section'])
  div(class=['small-12', 'large-6', 'columns'])
    h2 Nous développons des applications mobiles multiplateformes
    p
      | We write aplications that are executable on multiple platforms.
      | The common code base allows us to adapt fast and gives the users the liberty
      | to choose what device they want to use.

    p
      | Don't let the device choice limit you. Think business, not device.
  div(class=['large-6', 'columns', 'show-for-large-up'])
    img(src="assets/images/devices.svg")

div#about-us(class=['row', 'section'])
  div(class=['small-12', 'columns'])
    h2 Notre équipe
  div(class=['small-12', 'large-5', 'columns'])
    h3 
      img.circular(src="assets/images/us/baptistem.jpg")
      | Baptiste Michel
    p 
  div(class=['small-12', 'large-5', 'large-offset-2', 'columns'])
    h3
      img.circular(src="assets/images/us/marekk.jpg")
      | Marek Kalnik
    p
      | Passioné du web et des nouvelles technologies depuis longemps,
      | il occupe le poste de directeur technique et est résponsable de
      | choisir les meilleurs solutions pour vos projets mobiles.
    p
      | Certifié PHP par Zend et Symfony2, Marek aime bien être au courant des
      | évolutions du monde de développement et approfondir ses connaissances.
    p
      | Intervenant lors de plusieures conférences, auteur des articles de blog
      | et contributeur open-source, il n'hésite pas à partager ses connaissances
      | et échanger avec les autres.
    p
      | Expertise: JavaScript, intégration avec les API, qualité, développement durable.

div#footer(class=['row-wide', 'row'])
  div(class=['small-12', 'large-2', 'column'])
    p &copy; BAM 2014
