div(ng-include="app/nav/navbar.html")

div#intro(class=['row', 'row-wide'], oob-full-height)
  div(class=['small-10', 'columns', 'text-center', 'small-centered'])
    h1
      img(src="assets/images/logo.svg", title="bam", alt="bam")
    h2 Think business, not device

div#multiplatform(class=['row', 'section'])
  div(class=['small-12', 'large-6', 'columns'])
    h3 Nous produisons rapidement des applications mobiles multiplateformes
    p
      | La fragmentation des plateformes mobiles a redéfini la manière de développer des applications.
      | Une nouvelle question se pose aux entreprises désireuses de maximiser l’impact de leurs applications :
      | comment fournir rapidement à mes utilisateurs des applications opérationnelles sur tous leurs appareils mobiles ? 
  div(class=['large-6', 'columns', 'show-for-large-up'])
    img(src="assets/images/devices.svg")

div#about-us(class=['row', 'section'])
  div(class=['small-12', 'columns'])
    h2 Notre équipe
  div(class=['small-12', 'large-5', 'columns'])
    h3 
      img.circular(src="assets/images/us/baptistem.jpg")
      | Baptiste
      | Michel
    p 
  div(class=['small-12', 'large-5', 'large-offset-2', 'columns'])
    h3
      img.circular(src="assets/images/us/marekk.jpg")
      | Marek
      | Kalnik
    p
      | Diplomé de l'Université de Wroclaw, Marek est fort d'une experience de 10 ans dans le 
      | développement d'applications web et mobiles. Il rejoint Theodo en 2010, où il occupe un poste
      | d'architecte-manager. En tant que responsable des pôles JavaScript et Symfony2 il participe
      | à la réalisation des projets en développement agile.
    p
      | Certifié PHP Zend et Symfony2, Marek intervient régulierement à des conférences,
      | et publie des articles où il partage son expertise.
    p
      | Chez BAM il occupe le poste de Directeur Technique et est garant des choix techniques
      | les mieux adaptés aux besoins business du client.

div(class=['section', 'row'])

div#footer(class=['row-wide', 'row'])
  div(class=['small-12', 'large-2', 'column'])
    p &copy; BAM 2014
