$section-padding: 5em;
$large-padding: 1em;
$small-padding: 0.25em;
$font-weight-bold: bold;

$title-font: 'Alegreya Sans SC', sans-serif;
$text-font: 'Lato', sans-serif;

.row-wide {
  min-width: 100%;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
    font-family: $text-font;
}

h1 {
    padding: $large-padding 0 $small-padding 0;
    font-family: $title-font;
    font-weight: $font-weight-bold;
}

.section {
    margin-top: $section-padding;
}

.circular {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}

#intro {
    background: url('/assets/images/business-devices_grayed.jpg') 0 0 no-repeat;
    background-size: cover;
    padding: 6em 0;

    >div {
      position: relative;
      top: 25%;
    }
}

.has-bg {
    color:white;

    h1, h2, h3, h4 {
        color: white;
    }
}

.section-intro {
  padding-bottom: $large-padding;
}

#about-us {
  background-color: #eee;
  color: #5b5e61;
  padding: 1em;

  h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #5b5e61;
  }

  h3 img {
    float: left;
    margin: 0 15px 5px 0;
  }

  p {
    text-align: justify;
  }
}

#footer {
  padding-top: $large-padding;
  background-color: #777;
  color: white;
}

.contact-form {
	padding:25px 35px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
}

.contact-form input {
	color:#000;
	margin-bottom:18px;
	height:40px;
}

.contact-form input:-moz-placeholder {
	color: #555;
	opacity: 1;
}

.contact-form input::-moz-placeholder {
	color: #555;
	opacity: 1;
}
