$section-padding: 5em;
$large-padding: 1em;
$small-padding: 0.25em;
$font-weight-bold: bold;

$title-font: 'Alegreya Sans SC', sans-serif;
$text-font: 'Lato', sans-serif;

.row-wide {
  min-width: 100%;
}

body {
    font-family: $text-font;
}

h1 {
    padding: $large-padding 0 $small-padding 0;
    font-family: $title-font;
    font-weight: $font-weight-bold;
}

.section {
    margin-top: $section-padding;
}

.circular {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
}

#intro {
    color:white;
    background: url('/assets/images/business-devices_grayed.jpg') 0 0 no-repeat;
    background-size: cover;

    >div {
      position: relative;
      top: 25%;
    }

    h1, h2 {
        color: white;
    }
}

#about-us {
  background-color: #eee;
  color: #5b5e61;

  h2 {
    padding-bottom: $large-padding;
  }

  h2, h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #5b5e61;
  }

  h3 img {
    float: left;
    margin: 0 15px 5px 0;
  }

  p {
    text-align: justify;
  }
}

#footer {
  padding-top: $large-padding;
  background-color: #777;
  color: white;
}
