$big-padding: 1em;
$small-padding: 0.25em;
$font-weight-bold: bold;

$title-font: 'Alegreya Sans SC', sans-serif;
$text-font: 'Lato', sans-serif;

body {
    font-family: $text-font;
}

h1 {
    padding: $big-padding 0 $small-padding 0;
    font-family: $title-font;
    font-weight: $font-weight-bold;
}

.section {
    padding-top: $big-padding;
}

#intro {
    background-color: #23b9d1;
    color:white;

    h1, h2 {
        color: white;
    }
}
