.row
  div(class=['small-12', 'medium-centered', 'text-center', 'column', 'section'])
    h2.light Adopter une démarche Scrum et Lean pour aller vite

.row
  div(class=['small-12', 'column'])
    h3 Nous mettons à votre disposition une équipe dédiée au développement de votre application mobile 

.row.subsection(data-equalizer)
  div(class=['small-5', 'large-6', 'columns', 'text-center'])
    img(src="assets/images/methodology/productowner.svg")
  div(class=['small-7', 'large-6', 'columns'])
    p 
      | En tant que porteur du projet, vous êtes intégrée à l'équipe BAM. Vous lui transmettez votre vision en priorisant et validant les fonctionnalités à développer. L'équipe se réunit chaque semaine pour planifier les développements.

.row.subsection(data-equalizer)
  div(class=['small-7', 'large-6', 'small-push-5', 'large-reset-order', 'column'], data-equalizer-watch)
    p 
      | L’équipe technique composée de 2 à 3 développeurs BAM est en charge de la réussite du projet. Elle échange au quotidien avec le directeur produit pour livrer des fonctionnalités à forte valeur ajoutée business. 
  div(class=['column', 'small-5', 'small-pull-7', 'large-6', 'large-reset-order', 'text-center'], data-equalizer-watch)
    img(src="assets/images/methodology/tech1.svg", style="margin-left: 10px;")
    | 
    span
      img.show-for-large-up(src="assets/images/methodology/tech2.svg")

.row.subsection(data-equalizer)
  div(class=['small-5', 'large-6', 'columns', 'text-center'], data-equalizer-watch)
    img(src="assets/images/methodology/scrummaster.svg")
  div(class=['small-7', 'large-6', 'columns'], data-equalizer-watch)
    p 
      | Le coach agile BAM adapte la méthodologie au contexte du projet. Il apporte un focus très fort sur la définition et le suivi des indicateurs de succès du projet.
