div.section
  .row
    div(class=['small-12', 'medium-12', 'column'])
      h3 Les applications mobiles sont partout et elles changent tout.
  .row.subsection
    div(class=['small-5', 'columns'])
      // crop image before we buy the right one
      div(style="height: 270px; overflow: hidden")
        img(src="assets/images/mobile-economy/mobile-relations.jpg")
    div(class=['small-6', 'large-7', 'columns'])
      p L’économie des applications révolutionne notre manière de travailler. BAM produit des applications mobiles pour résoudre les nouvelles problématiques business des entreprises. Les collaborateurs de tout secteur attendent aujourd'hui des applications mobiles qui leur permettent d’être plus agiles et ainsi plus performants.
  .row
    div(class=['small-12', 'column'])
      h3 Le traffic sur appareils mobiles est supérieur au desktop.  
  .row
    div(class=['small-12', 'large-6', 'columns'])
      p 
        | En septembre 2014 le traffic mobile a depassé celui du desktop. Les devices mobiles deviennent le moyen principal d'utilisation des sites web.
    div(class=['small-12', 'large-6', 'columns'])
      img(src="assets/images/mobile-economy/users-by-device.png", width="100%")

.row.subsection
  div(class=['small-12', 'medium-12', 'column'])
    h3 La vitesse : le facteur clé de succès dans l’économie des applications
.row.subsection
  div(class=['large-6', 'columns', 'show-for-large-up'])
    // flipped temporarliy before we buy the image
    img(src="assets/images/mobile-challenges/race.jpg", style="-moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: 'FlipH';")
  div(class=['small-12', 'large-6', 'columns'])
    p 
      | La vitesse est le facteur clé de succès dans l’économie des applications où les attentes des utilisateurs et l’environnement business évoluent en permanence.
    p
      | Etre capable de produire des applications fiables vite suppose d’adopter un processus agile où la conception, le développement et les tests sont intégré dans un même processus. 
.row
  div(class=['small-12', 'medium-12', 'column'])
    h3 Les utilisateurs mobiles utilisent des device variés
.row.section
  div(class=['small-12', 'large-6', 'columns'])
    .row
      .small-5.column
        img(src="assets/images/mobile-challenges/smartphone-models.svg", width="100%")
      .small-7.column
        p modèles différents de smartphones et tablettes disponibles en 2013
  div(class=['small-12', 'large-6', 'columns'])
    .row
      .small-5.column
        img(src="assets/images/mobile-challenges/screen-sizes.svg", width="100%")
      .small-7.column
        p tailles d'écran différentes
