div.section
  .row
    div(class=['small-12', 'medium-12', 'column'])
      h3 Les applications mobiles sont partout et elles changent tout.
  .row.subsection
    div(class=['large-6', 'columns', 'show-for-large-up'])
      // crop image before we buy the right one
      div(style="height: 270px; overflow: hidden")
        img(src="assets/images/mobile-economy/mobile-relations.jpg")
    div(class=['small-12', 'large-6', 'columns'])
      p L’économie des applications révolutionne notre manière de travailler. BAM produit des applications mobiles pour résoudre les nouvelles problématiques business des entreprises. Les collaborateurs de tout secteur attendent aujourd'hui des applications mobiles qui leur permettent d’être plus agiles et ainsi plus performants.
  .row
    div(class=['small-12', 'medium-12', 'column'])
      h3 Le traffic sur appareils mobiles est supérieur au desktop.  
  .row
    div(class=['small-12', 'large-6', 'columns'])
      p 
        | En septembre 2014 le traffic mobile a depassé celui du desktop. Les devices mobiles deviennent le moyen principal d'utilisation des sites web.
    div(class=['large-6', 'columns', 'show-for-large-up'])
      img(src="assets/images/mobile-economy/users-by-device.png", width="100%")
