div.section
  .row
    div(class=['small-12', 'medium-12', 'medium-centered', 'text-center', 'column', 'section'])
      h2.light Bienvenue dans l'économie des applications
  .row
    div(class=['small-12', 'medium-12', 'column'])
      h3 Les applications mobiles sont partout et elles changent tout.  
  .row.section
    div(class=['large-6', 'columns', 'show-for-large-up'])
      // crop image before we buy the right one
      div(style="height: 270px; overflow: hidden")
        img(src="assets/images/mobile-economy/mobile-relations.jpg")
    div(class=['small-12', 'large-6', 'columns'])
      p Nous vivons une révolution. Les technologies mobiles ont révolutionné les entreprises. Elles sont au coeur de notre économie et créent de la valeur business pour toutes les industries. Les collaborateurs de tout secteur attendent maintenant des applications mobiles qui leur permettent d’être plus flexible et de doper leurs performances
  .row
    div(class=['small-12', 'large-6', 'columns'])
      p 
        | En septembre 2014 le traffic mobile en UK a depassé celui de desktop<sup>1</sup>.
        | Les données varient selon le pays (27,2% en août 2014 pour la France, 44,5% pour l'Espagne)<sup>2</sup>,
        | mais la tendance est claire - les devices mobiles deviennent le moyen principal d'utilisation des sites web.
      p.text-small
        | <sup>1</sup> <a href="http://www.theguardian.com/business/2014/sep/02/online-shopping-mobiles-overtakes-desktop">Source: The Guardian</a>
        | <br>
        | <sup>2</sup> <a href="http://www.atinternet.com/documents/succes-des-os-mobiles-dapple-et-google/">Source: AT Internet</a>
    div(class=['large-6', 'columns', 'show-for-large-up'])
      img(src="assets/images/mobile-economy/users-by-device.png", width="100%")
