.bg-grey
  .row
    div(class=['small-12', 'medium-12', 'medium-centered', 'text-center', 'column', 'section'])
      h2.light Les technologies web pour développer des applications cross plateformes

  .row
    div(class=['small-12', 'medium-12', 'column'])
      p Les technologies web permettent aujourd’hui de développer des applications natives performantes et compatibles avec l’ensemble des terminaux mobiles du marché...en une fois  

.row.section
  div(class=['small-12', 'columns', 'show-for-medium-down'])
    h2 Angular
  div(class=['large-6', 'columns', 'show-for-large-up'])
    img(src="assets/images/expertise/angular.svg", width="100%")
  div(class=['small-12', 'large-6', 'columns'])
    p Angular est le framework JavaScript leader. Soutenu par Google il permet de capitaliser sur des briques logicielles déjà créées pour des développements d’applications plus rapides et pérennes. Aujourd’hui angular est utilisé par les plus grands :

.bg-grey
  .row.section
    div(class=['small-12', 'columns', 'show-for-medium-down'])
      h2 Apache Cordova
    div(class=['small-12', 'large-6', 'columns'])
      p Apache Cordova (aussi appelé Phonegap) est une plateforme qui permet de développer des applications mobiles natives pour Android, iOS, Windows Phone…en HTML, CSS et JavaSript. La BBC, Decathlon, Wikipedia et les startup de la silicon valley ont déjà adopté cette solution.
    div(class=['large-6', 'columns', 'show-for-large-up'])
      img(src="assets/images/expertise/cordova.png")
      img(src="assets/images/expertise/phonegap.png")

.row.section
  div(class=['small-12', 'columns', 'show-for-medium-down'])
    h2 HTML5 et CSS3
  div(class=['large-6', 'columns', 'show-for-large-up'])
    .row
      .columns.small-5.offset-1
        img(src="assets/images/expertise/html5.svg")
      .columns.small-5.offset-1.end
        img(src="assets/images/expertise/css3.svg")
  div(class=['small-12', 'large-6', 'columns'])
    p HTML5 et CSS3 sont des téchnologies du Web 3.0. Avec le stockage local, le drag and drop, la géolocation et le canvas, ces téchnologies permettent le développement des applications web, qui deviennent très proches des applications desktop. Ceci nous permet concevoir les applications hybrides qui font usage des fonctionnalitées avancées de votre téléphone.

.bg-grey
  .row.section
    div(class=['small-12', 'columns', 'show-for-medium-down'])
      h2 Ionic
    div(class=['small-12', 'large-6', 'columns'])
      p Avec la sortie de Ionic, framework de développement mobile basé sur Angular et HTML5, il est maintenant possible de développer des applications mobiles multi-plateformes sur des fondations 100% open-source.
    div(class=['large-6', 'columns', 'show-for-large-up'])
      img(src="assets/images/expertise/ionic.svg")
