$header-font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-weight: 600;
$large-padding: 1em;

$color-inverted: #eee;

@import '../bower_components/foundation/scss/foundation';
@import 'main/main';

.form-button {
  @include button;
  margin-bottom: 0;
}
