.row.row-wide.text-center
  .column.small-12
    .main-logo
      img(src="assets/images/logo_tagline.svg", title="Think business, not device", alt="BAM - Think business, not device", width="230")
  .column.small-12
    div(data-magellan-expedition="fixed" magellan)
      nav.top-bar(data-topbar)
        section.top-bar-section
          ul.right
            li(data-magellan-arrival="our-expertise"): a(href="#our-expertise") Notre métier
            li(data-magellan-arrival="contact"): a(href="#contact") Contactez-nous
            li(data-magellan-arrival="mobile-economy"): a(href="#mobile-economy") L’économie des applications
            li(data-magellan-arrival="methodology"): a(href="#methodology") Notre méthodologie
            li(data-magellan-arrival="tools"): a(href="#tools") Nos technologies
            li(data-magellan-arrival="about-us"): a(href="#about-us") Qui sommes nous ?
