div#header
  .row
    div(class=['small-12', 'large-12', 'columns', 'text-center'])
      img(src="assets/images/logo_tagline.svg", title="Think business, not device", alt="BAM - Think business, not device", width="230")
