div.sticky
  nav.top-bar.show-for-small(data-topbar)
    nav.tab-bar
      a.left-off-canvas-toggle.menu-icon
        span Menu

aside.left-off-canvas-menu
  ul.off-canvas-list.fixed
    li: a(href="#our-expertise-handle") Notre métier
    li: a(href="#contact-handle") Contactez-nous
    li: a(href="#mobile-economy-handle") L’économie des applications
    li: a(href="#methodology-handle") Notre méthodologie
    li: a(href="#tools-handle") Nos technologies
    li: a(href="#about-us-handle") Qui sommes nous ?
    li: a(href="http://blog.bamlab.fr") Notre blog

.row.row-wide.text-center
  .column.small-12
    .main-logo
      img(src="assets/images/logo_tagline.svg", title="Think business, not device", alt="BAM - Think business, not device", width="230")
  .column.small-12.hide-for-small
    div.top-menu(data-magellan-expedition="fixed" magellan)
      span(data-magellan-arrival="our-expertise"): a(href="#our-expertise", target="_self") Notre métier
      span(data-magellan-arrival="contact"): a(href="#contact", target="_self") Contactez-nous
      span(data-magellan-arrival="mobile-economy"): a(href="#mobile-economy", target="_self") L’économie des applications
      span(data-magellan-arrival="methodology"): a(href="#methodology", target="_self") Notre méthodologie
      span(data-magellan-arrival="tools"): a(href="#tools", target="_self") Nos technologies
      span(data-magellan-arrival="about-us"): a(href="#about-us", target="_self") Qui sommes nous ?
      span: a(href="http://blog.bamlab.fr") Notre blog
