img(src="assets/images/logo.svg", title="Think business, not device", alt="BAM - Think business, not device", height="90")
.sticky
  nav.top-bar
    ul.title-area
      li.name
      li.toggle-topbar.menu-icon 
        a(href="#") <span>Menu</span>

    section.top-bar-section
      ul.right
        li: a(href="#our-expertise") Notre métier
        li: a(href="#contact") Contactez-nous
        li: a(href="#mobile-economy") L’économie des applications
        li: a(href="#methodology") Notre méthodologie
        li: a(href="#tools") Nos technologies
        li: a(href="#about-us") Qui sommes nous ?

